extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro 
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi facilisis orci odio, quis lobortis ipsum imperdiet at. Suspendisse vel efficitur lectus, vitae pretium purus. Mauris a facilisis est. Aliquam sit amet orci ac tortor molestie commodo. Phasellus gravida rutrum eros, quis sagittis massa lacinia sed.
                p Fusce eleifend pulvinar diam at tempus. Integer ac scelerisque arcu, vel eleifend risus. Nam posuere, lectus at lobortis efficitur, erat justo finibus velit, ut pulvinar orci nisl sit amet elit. Curabitur consequat neque libero, quis rhoncus lacus rutrum et.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt=" imagen nosotros", class="img-fluid")

        include ./layout/bloque_viajes

    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Agosto de 2024 - 28 de Agosto de 2024
                        p.precio $2,500 USD
    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales